<ion-tabs class="bg-teal-700">
  <ion-tab-bar slot="bottom" class="bg-white">
    <ion-tab-button tab="tab1" href="/tabs/tab1" class="custom-tab-button">
      <ion-icon name="battery-full-outline"></ion-icon>
      <ion-label class="custom-tab-label">Bateria</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" href="/tabs/tab2" class="custom-tab-button">
      <ion-icon name="pulse-outline"></ion-icon>
      <ion-label class="custom-tab-label">Calibración</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map" href="/tabs/map" class="custom-tab-button">
      <ion-icon name="map-outline"></ion-icon>
      <ion-label class="custom-tab-label">Ubicación</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" href="/tabs/profile" class="custom-tab-button">
      <ion-icon name="volume-high-outline"></ion-icon>
      <ion-label class="custom-tab-label">Volumen</ion-label>
    </ion-tab-button>
    
  </ion-tab-bar>
</ion-tabs>
